
@{
    ViewBag.Title = "CandyKids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../assets1/images/bg/bg3.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-theme-color-yellow font-36">Candy Kids</h2>
                    <ol class="breadcrumb text-left mt-10">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active text-white">Candy Kids</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- Section: Why Choose Us -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-5">
                    <img src="../assets1/images/photos/3.png" class="img-fullwidth" alt="">
                </div>
                <div class="col-md-7 pb-sm-20">
                    <h2 class="title line-bottom mb-20 mt-0 line-height-1">Why <span class="text-theme-color-red">Choose Us</span> ?</h2>
                    <p class="mb-20">We Give Children higer Education and the way to live life, as the opportunity for children to play and parents to Earn !</p>
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="icon-box text-center pl-0 pr-0 mb-0">
                            <a href="#" class="icon bg-theme-color-red icon-circled icon-border-effect effect-circle icon-md">
                                <i class="fa fa-bell text-white"></i>
                            </a>
                            <h5 class="icon-box-title mt-15 mb-10 text-theme-color-red letter-space-4 text-uppercase">Responsive</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="icon-box text-center pl-0 pr-0 mb-0">
                            <a href="#" class="icon bg-theme-color-sky icon-circled icon-border-effect effect-circle icon-md">
                                <i class="fa fa-pencil text-white"></i>
                            </a>
                            <h5 class="icon-box-title mt-15 mb-10 text-theme-color-sky letter-space-4 text-uppercase">validation</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="icon-box text-center pl-0 pr-0 mb-0">
                            <a href="#" class="icon bg-theme-color-blue icon-circled icon-border-effect effect-circle icon-md">
                                <i class="fa fa-certificate text-white"></i>
                            </a>
                            <h5 class="icon-box-title mt-15 mb-0 text-theme-color-blue letter-space-4 text-uppercase">CERTIFICATION</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img alt="" src="../assets1/images/bg/f2.png" class="img-responsive img-fullwidth">
    </div>
</section>
