
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../assets1/images//bg/bg3.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-theme-color-red font-36">Course List</h2>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active text-gray-silver">Page Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Course list -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-pull-left">
                <div class="row mb-15">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumb"> <img alt="featured project" src="../assets1/images//project/lg1.jpg" class="img-fullwidth"></div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3 class="mt-0 mt-sm-20">Learning Classes</h3>
                        <h4 class="text-theme-color-blue"><span class="text-theme-color-red">Price-₹3000</span> Age: 2 - 2.5 Years, Size: 25 Seats</h4>
                        <p>The Children Are Creative Skill, A Joy, Obedient, Possitive Beyond are Anything Founds the provide high level Education to Children mentain development of them and to bring the Education of the Children to the digital stage In INDIA and to prepare Children for the their Future!</p>
                        <a class="btn btn-dark btn-theme-color-sky btn-sm text-uppercase mt-10" href="/Home/StuAdmission">Take Course</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-15">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumb"> <img alt="featured project" src="../assets1/images//project/lg2.jpg" class="img-fullwidth"></div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3 class="mt-0 mt-sm-20">Drawing Classes</h3>
                        <h4 class="text-theme-color-blue"><span class="text-theme-color-red">Price-₹3000</span> Age: 3 - 3.5 Years, Size: 25 Seats</h4>
                        <p>The Children Are Creative Skill, A Joy, Obedient, Possitive Beyond are Anything Founds the provide high level Education to Children mentain development of them and to bring the Education of the Children to the digital stage In INDIA and to prepare Children for the their Future!</p>
                        <a class="btn btn-dark btn-theme-color-sky btn-sm text-uppercase mt-10" href="/Home/StuAdmission">Take Course</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-15">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumb"> <img alt="featured project" src="../assets1/images//project/lg3.jpg" class="img-fullwidth"></div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3 class="mt-0 mt-sm-20">Langauge Classes</h3>
                        <h4 class="text-theme-color-blue"><span class="text-theme-color-red">Price-₹3000</span> Age: 4 - 4.5 Years, Size: 25 Seats</h4>
                        <p>The Children Are Creative Skill, A Joy, Obedient, Possitive Beyond are Anything Founds the provide high level Education to Children mentain development of them and to bring the Education of the Children to the digital stage In INDIA and to prepare Children for the their Future!</p>
                        <a class="btn btn-dark btn-theme-color-sky btn-sm text-uppercase mt-10" href="/Home/StuAdmission">Take Course</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-15">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumb"> <img alt="featured project" src="../assets1/images//project/lg4.jpg" class="img-fullwidth"></div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3 class="mt-0 mt-sm-20">Math Classes</h3>
                        <h4 class="text-theme-color-blue"><span class="text-theme-color-red">Price-₹3000</span> Age: 5 - 5.5 Years, Size: 25 Seats</h4>
                        <p>The Children Are Creative Skill, A Joy, Obedient, Possitive Beyond are Anything Founds the provide high level Education to Children mentain development of them and to bring the Education of the Children to the digital stage In INDIA and to prepare Children for the their Future!</p>
                        <a class="btn btn-dark btn-theme-color-sky btn-sm text-uppercase mt-10" href="/Home/StuAdmission">Take Course</a>
                    </div>
                </div>
                <hr>
                <div class="row mb-15">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumb"> <img alt="featured project" src="../assets1/images//project/lg5.jpg" class="img-fullwidth"></div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3 class="mt-0 mt-sm-20">Multimedia Classes</h3>
                        <h4 class="text-theme-color-blue"><span class="text-theme-color-red">Price-₹3000</span> Age: Above 2 Years - 5.5 Years, Size: 25 Seats</h4>
                        <p>The Children Are Creative Skill, A Joy, Obedient, Possitive Beyond are Anything Founds the provide high level Education to Children mentain development of them and to bring the Education of the Children to the digital stage In INDIA and to prepare Children for the their Future!</p>
                        <a class="btn btn-dark btn-theme-color-sky btn-sm text-uppercase mt-10" href="/Home/StuAdmission">Take Course</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav>
                    <ul class="pagination theme-color-sky xs-pull-center m-0">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#2">2</a></li>
                        <li><a href="#3">3</a></li>
                        <li><a href="#4">4</a></li>
                        <li><a href="#5">5</a></li>
                        <li><a href="#6">...</a></li>
                        <li> <a href="#7" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>