
@{
    ViewBag.Title = "Franchise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="../assets1/images/bg/bg3.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-theme-color-yellow font-36">Franchise</h2>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Franchise</a></li>
                        <li class="active text-gray-silver"> Our Franchise</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section:about-->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="meet-doctors">
                        <h2 class="mt-0 line-height-1 text-theme-color-sky">Welcome To Our Franchise</h2>
                        <h3 class="letter-space-4 line-bottom text-theme-color-red title">World Best Education In Our Kindergarten</h3>
                        <p>Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus.Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus</p>
                    </div>
                    <div class="row mb-sm-30">
                        <div class="col-sm-6 col-md-6">
                            <div class="icon-box p-0 mb-20">
                                <a class="icon bg-theme-color-red icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                                    <i class="pe-7s-scissors text-white"></i>
                                </a>
                                <div class="ml-70 ml-sm-0">
                                    <h5 class="icon-box-title mt-10 letter-space-2 mb-10">Active Learning</h5>
                                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="icon-box p-0 mb-20">
                                <a class="icon bg-theme-color-lemon icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                                    <i class="pe-7s-pen text-white"></i>
                                </a>
                                <div class="ml-70 ml-sm-0">
                                    <h5 class="icon-box-title mt-10 letter-space-2 mb-10">Funny and Happy</h5>
                                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="icon-box p-0">
                                <a class="icon bg-theme-color-blue icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                                    <i class="pe-7s-phone text-white"></i>
                                </a>
                                <div class="ml-70 ml-sm-0">
                                    <h5 class="icon-box-title mt-10 letter-space-2 mb-10">Fulfill With Love</h5>
                                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="icon-box p-0">
                                <a class="icon bg-theme-color-orange icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                                    <i class="pe-7s-light text-white"></i>
                                </a>
                                <div class="ml-70 ml-sm-0">
                                    <h5 class="icon-box-title mt-10 letter-space-2 mb-10">Expert Teachers</h5>
                                    <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../assets1/images/Img/franchise.png" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <img alt="" src="../assets1/images/bg/f2.png" class="img-responsive img-fullwidth">
    </div>
</section>
