<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ISHU PEST CONTROL-INVOICE DETAILS</title>
</head>
<body margin="0" bgcolor="white" text="black" link="#1900d2" vlink="#1900d2" alink="red">
    <div style="line-height: 45px; font-weight: bold; color: #3FBEEF; padding-left: 20px;
        font-family: 'Segoe UI'; background-color: #adbb09; margin-left: 20px;" valign="middle">
        <a href="http://ishupestcontrol.net/" title="Visit IshuPestControl.net" style="height: 45px;
            font-size: 28px; color: White; padding: 5; text-decoration: none;">ISHU PEST CONTROL-INVOICE
            DETAILS</a>
    </div>
    <div style="clear: both" />
    <div style="float: left; background-color: #FFFFFF;">
        <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;
            margin-left: 20px;" width="100%">
            <tr>
                <td style="float: left; font-family: verdana; display: inline; color: black; font-size: 12px;
                    padding-left: 0px; text-align: justify;">
                    <br />
                    <br />
                    <b>Hello ~FirstName`,</b>
                        <br />
                        <br />
                        Your are  activated now.you can login & create quotation.
                        <br />
                        <br />
                  <b>      Below Your Login Details: </b>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;">
                        <tr>
                            <td>
                                UserName/Email Id:
                            </td>
                            <td>
                                <b>~Email`</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password:
                            </td>
                            <td>
                                ~Password`
                            </td>
                        </tr>
                      
                    </table>
                    <p>
                        Thank you joining us.</p>
                    <p>
                        Best Regards,<br />
                        The <strong style="color: #3FBEEF;">ISHU PEST CONTROL</strong>&nbsp;Team
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="clear: both" />
    <div style="font-weight: normal; color: White; margin-left: 20px; font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; background-color: #adbb09; line-height: 25px" align="center">
        <a href="http://ishupestcontrol.net/" title="Visit IshuPestControl.net" style="text-decoration: none;
            color: White;">ishupci.com</a>
    </div>
    <p style="color: Gray; font: 10px Verdana, Arial, Helvetica, Sans-Serif; margin-left: 20px;">
        If this is not the intended recipient please accept our apologies . Thank you.
        <br />
    </p>
</body>
</html>
