<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Indian play School - Student Enquiry Details</title>
</head>
<body margin="0" bgcolor="white" text="black" link="#1900d2" vlink="#1900d2" alink="red">
    <div style="line-height: 45px; font-weight: bold; color: #3FBEEF; padding-left: 20px; font-family: 'Segoe UI'; background-color: #F03C02; margin-left: 20px; " valign="middle">
        <a href="http://ipseducation.in" title="Visit  com" style="height: 45px; font-size: 28px;
            color: White; padding: 5; text-decoration: none;">ipseducation.in</a>
    </div>
    <div style="clear: both" />
    <div style="float: left; background-color: #FFFFFF;">
        <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;
            margin-left: 20px;" width="100%">
            <tr>
                <td style="float: left; font-family: verdana; display: inline; color: black; font-size: 12px;
                    padding-left: 0px; text-align: justify;">
                    <br />
                    <br />
                    <b>Welcome Student !
                        <br />
                    </b>
                    <br />
                    <br />
                    Thank you so much for becoming student of <a href="http://ipseducation.in/"><b style="color:orange;">ipseducation.in</b></a> . Now you can Grow up or enhance
                    your Knowledge.
                    <br />
                    <p>
                        To get full access to our site and services you will need to use the following Contact
                        Details:</p>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" bgcolor="#FFFFFF" style="color: #333; font: 12px  Verdana, Arial, Helvetica, Sans-Serif;">
                        <tr>
                            <td>
                                Name:
                            </td>
                            <td>
                                <b>~UserName`</b>
                            </td>
                        </tr>
                        <tr> 
                           <td>
                                Email-Id    :
                            </td>
                            <td>
                                <b>~Email`</b>
                            </td>
                        </tr>
                           <tr> 
                           <td>
                                Subject      :
                            </td>
                            <td>
                                <b>~Subject`</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mobile No.       :
                            </td>
                            <td style="color:Green; font-weight:bold;">
                                ~Mobile`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Message          :
                            </td>
                            <td style="color:Green; font-weight:bold;">
                                ~Message`
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Visit You    :
                            </td>
                            <td>
                                <a href="http://ipseducation.in/" target="_blank"><b>Please Visit here </b></a>
                            </td>
                        </tr>
                    </table>
                    <p>
                        Enjoy your stay.</p>
                    <p>
                        Best Regards,<br /><br />
                        The <strong style="color: #0e2849;">Indian Play School</strong>&nbsp;Team
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="clear: both" />
    <div style="font-weight: normal; color: White; margin-left: 20px; font-family: Arial, Helvetica, sans-serif; padding-left: 15px; font-size: 12px; background-color: #F03C02; line-height: 25px"
        align="left">
        <b> Indian Play School</b><br />
    </div>
    <p style="color: Gray; font: 10px Verdana, Arial, Helvetica, Sans-Serif; margin-left: 20px;">
        If this is not the intended recipient please accept our apologies and contact us
        if possible at  info@ipseducation.in 
        <br />
        Thank you.
    </p>
</body>
</html>
